[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "glmtrans"]
	path = glmtrans
	url = https://github.com/cran/glmtrans
[submodule "mtlgmm"]
	path = mtlgmm
	url = https://github.com/cran/mtlgmm
[submodule "pemultinom"]
	path = pemultinom
	url = https://github.com/cran/pemultinom
[submodule "RaSEn"]
	path = RaSEn
	url = https://github.com/cran/RaSEn
